body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home{
  margin-top: 0px;
  background-image: url('../public/assets/bg.png');
  height: 60vh;
  padding-left: 10rem;
  color: white;
  padding-top: 15rem;
  padding-right: 35rem;
 
}
.home div{
  text-align: left; 
}
.home h1 {
  margin: 0; 
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-weight: 500;
  font-style: italic;
  letter-spacing: -2.5px;
}
.home h3{
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding-right: 1rem;
}
.numbers{
  height: 60vh;
  padding-top: 5rem;
  padding-inline: 6rem;
  align-items: center;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.numbers div h1{
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 500;
  font-style: italic;
  letter-spacing: -2.5px;
  margin: 0;
}

.numbers div h2{
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-top: 5px;
  color: #969696;
}
.statistics {
  padding-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px; 
  justify-content: space-evenly ;
  margin-top: 20px; 

}
.statistics div{
  width: min-content;
  justify-content: space-around;
}
.statistics div h1{
  color: #DD2121;
  font-style: normal;
  font-size: 70px;
  margin: 0;
}
.statistics div h3{
  margin: 0;
}
.plus {
  width: 100%;
  display: flex;
  padding: 20px;
  gap:10px;
  align-items: center;
  
}
.plus h1 {
  
}
.plus h3{
  font-size: 40px;
  color: #969696;
  font-weight: 400;
}
.feature{
  font-size: 25px;
  font-weight: 500;
}


